@model IEnumerable<Movies.DB.AspNetUser>
@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="row">
    <div class="col-md-12">
        <p>
            @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecurityStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discriminator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PasswordHash)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecurityStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discriminator)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new {@class="btn btn-primary" })
                        <br />
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info mtop-10" })
                        
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="text-center">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Users", new { page = page, movie = "rock" }))
    </div>
</div>
