@model Movies.DB.Movie

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Movie</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Released, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Released)
                @Html.ValidationMessageFor(model => model.Released)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Runtime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Runtime)
                @Html.ValidationMessageFor(model => model.Runtime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Director, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Director)
                @Html.ValidationMessageFor(model => model.Director)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Writer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Writer)
                @Html.ValidationMessageFor(model => model.Writer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Actors, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Actors)
                @Html.ValidationMessageFor(model => model.Actors)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Language, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Language)
                @Html.ValidationMessageFor(model => model.Language)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Awards, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Awards)
                @Html.ValidationMessageFor(model => model.Awards)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Poster, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Poster)
                @Html.ValidationMessageFor(model => model.Poster)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImdbRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImdbRating)
                @Html.ValidationMessageFor(model => model.ImdbRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImdbVotes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImdbVotes)
                @Html.ValidationMessageFor(model => model.ImdbVotes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImdbId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImdbId)
                @Html.ValidationMessageFor(model => model.ImdbId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
