@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var movies = ViewData["movies"] == null ? null : (ViewData["movies"] as List<Movies.DB.Movie>);
}
@using System.Collections
@using PagedList.Mvc;
@using PagedList;

<h2>Search</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form action="" class="form-horizontal">
                <div class="row">
                    <div class="col-md-2">
                        <label for="movie" class="control-label">Movie name</label>
                    </div>
                    <div class="col-md-4">
                        <input name="movie" type="text" class="form-control" required pattern=".{3,}" title="minimum 3 chars">
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-info">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 search-results">
            @if (Model != null)
            {
                if (((IPagedList)Model).TotalItemCount > 0)
                {
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Poster</th>
                                <th>Title</th>
                                <th>Release Year</th>
                                <th>Imdb Rating</th>
                                <th>Director</th>
                                <th>Actors</th>
                                <th>Awards</th>
                                <th>Details</th>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <th>Order</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in (IPagedList<Movies.DB.Movie>)Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@m.Poster" alt="@m.Title" class="poster" />
                                    </td>
                                    <td>@m.Title</td>
                                    <td>@m.Released</td>
                                    <td>@m.ImdbRating</td>
                                    <td>@m.Director</td>
                                    <td>@m.Actors</td>
                                    <td>@m.Awards</td>
                                    <td><a href="@Url.Action("Details", "Movie", new { id = @m.Id })" class="btn btn-info">Details</a></td>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <td>
                                            <form method="POST" action="@Url.Action("Save", "Orders")">
                                                <input type="hidden" name="movieId" value="@m.Id" />
                                                <button class="btn btn-success">Order</button>
                                            </form>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Search", new { page = page, movie = "rock" }))
                    </div>
                }
                else
                {
                    <h3>No items found.</h3>
                }
            }

        </div>
    </div>
</div>
